@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../public/Inter-Light.woff2?v=3.19') format('woff2'),
    url('../public/Inter-Light.woff?v=3.19') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../public/Inter-Regular.woff2?v=3.19') format('woff2'),
    url('../public/Inter-Regular.woff?v=3.19') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../public/Inter-Medium.woff2?v=3.19') format('woff2'),
    url('../public/Inter-Medium.woff?v=3.19') format('woff');
}

@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('../public/SpaceMono-Regular.woff2') format('woff2'),
    url('../public/SpaceMono-Regular.woff') format('woff');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black;
}
